.floating-row {
  position: absolute;
  bottom: 0x;
  left: 0;
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-in-out;
  z-index: 9999;
}

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #262b40; /* Change the background color as desired */
  display: flex;
  justify-content: space-around;
  padding: 3px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: azure;
}

.mobile-bottom-nav a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  /* Example styles for mobile devices */
  * {
    font-size: 12px;
  }
  /* You can adjust font sizes, padding, and other styles for smaller screens. */
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Example styles for tablets */
  * {
    font-size: 14px;
  }
  /* Adjust font sizes, padding, and other styles for tablets. */
}
@media (min-width: 1025px) {
  /* Example styles for desktop screens */
  * {
    font-size: 16px;
  }
  /* Adjust font sizes, padding, and other styles for desktop screens. */
}
